<div ng:init="$root.pageTitle = 'Мисс Виртуальная Россия'" class="container-fluid">
  <div class="row-fluid">
    <!-- Search: <input ng-model="query"> -->
    <div class="pull-right">
      Отсортированно по {{orderName}}
      <button ng-click="changeOrder()" class="btn btn-mini btn-info orderbtn"><i class="icon-random"></i></button>
      Населенный пункт:
      <select ui-select2='{width: "element", placeholder: "Все", allowClear:true}' ng-model="mycity" ng-change="filterByCity()" class="cityselect" ng-options="c.name for c in cities" id="citysel">
        <option></option>
        <!-- <option data-placeholder value="">Все</option> -->
        <!-- <option ng-repeat="c in cities" value="{{c}}">{{c.name}}</option> -->
      </select>
    </div>

    <p class="clearfix">Данные на {{participants[0].likes[0].created_at | date:'dd.MM.yyyy HH:mm'}}</p>

    <div class="pagination pull-right">
        <ul>
            <li ng-class="{disabled: currentPage == 0}">
                <a href ng-click="prevPage()">« Пред</a>
            </li>
            <li ng-repeat="n in range(numberOfPages())"
                ng-class="{active: n == currentPage}"
                ng-click="setPage()">
                <a href ng-bind="n + 1">1</a>
            </li>
            <li ng-class="{disabled: currentPage == numberOfPages() - 1}">
                <a href ng-click="nextPage()">След »</a>
            </li>
        </ul>
    </div>

    <div class="clearfix"></div>
    <div id="loader" ng-show="loading">
      <img src="/assets/hearts.gif">
    </div>

    <ul class="misses">
      <li ng-repeat="woman in filteredparticipants | orderBy:orderProp | startFrom:currentPage*pageSize | limitTo:pageSize" class="thumbnail">
        <span class="index">{{currentPage*pageSize+$index+1}}</span>
        <div class="photos">
          <div ng-repeat="img in woman.image_src">
            <img class="thumb" ng-src="{{img}}" ng-click="showbig(woman.image_src, $index)">
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- <p class="hide">{{woman.vk_id}}</p> -->
        <p>{{woman.text}}</p>
        <a href="http://vk.com/missvirtualrussia?w=wall-50665538_{{woman.vk_id}}" target="_blank" class="vkbutton">В контакте</a>
        <div class="info">
          <div><i class="icon-heart"></i><span>{{woman.likes[0].likes}}</span></div>
          <div><i class="icon-bullhorn"></i><span>{{woman.likes[0].reposts}}</span></div>
        </div>
        <!-- <p>{{woman.likes[0].created_at}}</p> -->
        
      </li>
    </ul>

    <div class="pagination pull-right">
        <ul>
            <li ng-class="{disabled: currentPage == 0}">
                <a href ng-click="prevPage()">« Пред</a>
            </li>
            <li ng-repeat="n in range(numberOfPages())"
                ng-class="{active: n == currentPage}"
                ng-click="setPage()">
                <a href ng-bind="n + 1">1</a>
            </li>
            <li ng-class="{disabled: currentPage == numberOfPages() - 1}">
                <a href ng-click="nextPage()">След »</a>
            </li>
        </ul>
    </div>
  </div>
</div>
