<div class="container-fluid">
  <div class="row-fluid">
      
      <!-- Search: <input ng-model="query"> -->
    <div class="pull-right">
      Sort by:
      <!-- <select ng-model="orderProp">
        <option value="-likes[0].likes">Likes</option>
        <option value="-likes[0].reposts">Reposts</option>
      </select> -->
      <button ng-click="changeOrder()" class="btn orderbtn">{{orderName}}</button>
      City:
      <select ng-model="mycity" ng-change="filterByCity()" ng-options="c.name for c in cities">
        <option value="">Все</option>
      </select>

    </div>

    <p class="clearfix">Данные на {{participants[0].likes[0].created_at | date:'dd.MM.yyyy HH:mm:ss'}}</p>

    <div class="pagination pull-right">
        <ul>
            <li ng-class="{disabled: currentPage == 0}">
                <a href ng-click="prevPage()">« Prev</a>
            </li>
            <li ng-repeat="n in range(numberOfPages())"
                ng-class="{active: n == currentPage}"
                ng-click="setPage()">
                <a href ng-bind="n + 1">1</a>
            </li>
            <li ng-class="{disabled: currentPage == numberOfPages() - 1}">
                <a href ng-click="nextPage()">Next »</a>
            </li>
        </ul>
    </div>

    <ul class="misses">
      <li ng-repeat="woman in filteredparticipants | orderBy:orderProp | startFrom:currentPage*pageSize | limitTo:pageSize" class="thumbnail">
        <span class="index">{{currentPage*pageSize+$index+1}}</span>
        <!-- <span class="index">{{currentPage*itemsPerPage+$index+1}}</span> -->
        <div class="photos">
          <div ng-repeat="img in woman.image_src">
            <img class="thumb" ng-src="{{img}}" ng-click="showbig(woman.image_src, $index)">
          </div>
          <div class="clearfix"></div>
        </div>
        <p class="hide">{{woman.vk_id}}</p>
        <p>{{woman.text}}</p>
        <div class="info">
          <span ng-click="sort_by('likes[0].likes')">Likes: {{woman.likes[0].likes}}</span>
          <span ng-click="sort_by('likes[0].reposts')">Reposts: {{woman.likes[0].reposts}}</span>
        </div>
        <!-- <p>{{woman.likes[0].created_at}}</p> -->
        
      </li>
    </ul>

    <div class="pagination pull-right">
        <ul>
            <li ng-class="{disabled: currentPage == 0}">
                <a href ng-click="prevPage()">« Prev</a>
            </li>
            <li ng-repeat="n in range(numberOfPages())"
                ng-class="{active: n == currentPage}"
                ng-click="setPage()">
                <a href ng-bind="n + 1">1</a>
            </li>
            <li ng-class="{disabled: currentPage == numberOfPages() - 1}">
                <a href ng-click="nextPage()">Next »</a>
            </li>
        </ul>
    </div>
  </div>
</div>
