/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require angular-ui.min.css
 *= require select2.css
 *= require_tree .
*/
.navbar-inner {
  border-radius: 0 !important;
}
.content {
  //background-color: #eee;
  background-color: #F8F8F8;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  //-webkit-border-radius: 0 0 6px 6px;
  //-moz-border-radius: 0 0 6px 6px;
  //border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.misses {
  margin-left:0;
  list-style: none;
  li {
    clear: both;
    //min-height: 160px;
    padding-top: 15px;
    padding-left: 10px;
    overflow:auto;
    position:relative;
    border-radius: 0;
    margin-top: 9px;

    p{
      margin-bottom: 20px;
    }
  }

  .index {
    margin-right: 1em;
    float: left;
    font-weight: bold;
    font-size: 1.2em;
  }
  .photos {
    float:left;
    width: 350px;
    img {
      float: left;
      margin: 0 0.5em;
      padding-bottom: 1em;
      //max-height: 150px;
      max-width: 150px;
    }
    img:hover {
      cursor: pointer;
    }
  }
  .info {
    bottom: 1em;
    right: 1em;
    position: absolute;
    div {
      float: left;
      text-align: center;
    }
    .info_wrapper {
      border: 1px solid #ccc ;
      margin-left: 0.8em;
      padding: 0;
      background-color: #F7F7F7;
      cursor: pointer;
      .info_icon {
        background-color: rgb(222, 227, 241);
        padding: 0.3em 0;
        width: 50px;
        //text-align: center;
      }
      .info_text {
        padding: 0.3em 0;
        width: 50px;

      }
    }
  }

  .vkbutton {
    //margin-top: 30px;
    //background-color: rgb(222, 227, 231);
    background-color: rgb(237, 242, 246);
    border: 1px solid rgb(67, 108, 141);
    color: rgb(47, 88, 121);
    cursor: pointer;
    font-size: 12px;
    padding: 5px 10px;
    text-align: left;
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      //background-color: rgb(237, 242, 246);
      background-color: rgb(222, 227, 231);
      border-color: rgb(57, 98, 131);
    }
  }
}
.pagination {
  ul {
    li {
      a{
        border-radius: 0 !important;
      }
    }
  }
}
.imgmodal {
  border: 2px solid #DDDDDD;
  left: 50%;
  outline: medium none;
  position: fixed;
  top: 10%;
  z-index: 1050;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  img:hover {
    cursor: pointer;
  }
}

.historymodal {
  background-color: #F8F8F8;
  border: 2px solid #DDDDDD;
  left: 50%;
  outline: medium none;
  position: fixed;
  top: 10%;
  z-index: 1050;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);

  padding: 10px;
}

.cityselect{
  //margin: 0;
  margin-top: -3px;
}

#loader {
    width: 80px;
    margin: 0 auto;
}
footer {
  text-align: center;
}
.select2-input {
  border-radius: 0 !important;
}

/* change order button */
.orderbtn {
  margin-right: 1.5em;
  margin-left: 0.5em;
  font-size: 13px;
  padding: 0 6px;
  background-color: rgb(222, 227, 241);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  vertical-align: middle;

  &:hover {
    background-color: rgb(192, 197, 221);
  }
}

/* graphs */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}